<div class="container">
  <h3>Hello, welcome to the family recipe site.</h3>
  <p>To get started, login or sign up to add recipes.</p>
  <div *ngIf="!(auth.loggedInStatus$ | async)" class="flex-div">
    <a class="bg-primary button" routerLink="./login">Login</a>
    <a class="button" routerLink="./signup">Sign Up</a>
  </div>
</div>
<br />
<div class="container">
  <p>Who's already a part of Our Kitchen?</p>
  <div class="grid">
    <!-- for each user in the list of users, create a p tag -->
    <div class="profile" *ngFor="let user of users">
      <a [routerLink]="'/profile/' + user.username"
        ><img
          class="profileImage"
          [src]="
            '../../assets/media/images/profileimages/' + user.profilePic ||
            '../../assets/media/images/profileimages/default-profile-pic.jpg'
          "
        />
        <h3>{{ user.firstName }} {{ user.lastName }}</h3></a
      >
    </div>
  </div>
</div>

<app-addrecipebutton></app-addrecipebutton>
