<nav [class]="navbarVisible ? '' : 'hidden'">
  <div class="header">
    <h1 class="title">
      <span class="secondary">Our </span>
      <span class="primary">Kitchen</span>
    </h1>
  </div>

  <div class="nav-inner">
    <div class="nav-items">
      <button
        mat-raised-button
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleNavbar()"
      >
        <mat-icon>home</mat-icon>Home
      </button>
      <button
        mat-raised-button
        routerLink="./recipes"
        routerLinkActive="active"
        (click)="toggleNavbar()"
      >
        <mat-icon>local_dining</mat-icon>Recipes
      </button>

      <div *ngIf="isAdmin" class="bottom-buttons">
        <hr />
        <h3>Admin</h3>
        <button
          mat-raised-button
          routerLink="./admin"
          routerLinkActive="active"
          (click)="toggleNavbar()"
        >
          <mat-icon>security</mat-icon>Admin Dashboard
        </button>

        <button
          mat-raised-button
          routerLink="./logs"
          routerLinkActive="active"
          (click)="toggleNavbar()"
        >
          <mat-icon>summarize</mat-icon>Audit Log
        </button>
      </div>
    </div>

    <div class="user-info">
      <!-- If the user is logged in, display the log out button -->
      <div *ngIf="auth.loggedInStatus$ | async; else signInButtons">
        <a
          class="profile tertiary"
          routerLink="./profile/{{ auth.getUsername() }}"
          routerLinkActive="active"
          (click)="toggleNavbar()"
          ><img
            src="../../assets/media/images/profileimages/{{ userImage }}"
            class="avatar"
          />
          <p
            class="tertiary darktitleoverride text-and-icon"
            style="gap: 0.25rem"
          >
            {{ userFirstName }}
            <mat-icon *ngIf="isAdmin">local_police</mat-icon>
          </p></a
        >

        <hr />

        <!-- <button mat-raised-button class="bg-tertiary" (click)="toggleNavbar()">
          <mat-icon>settings</mat-icon>
          Settings
        </button> -->

        <button
          mat-raised-button
          class="bg-tertiary"
          (click)="logout(); toggleNavbar()"
        >
          <mat-icon>logout</mat-icon>
          Log Out
        </button>
      </div>
      <!-- If the user is not logged in, display the sign up and login buttons -->
      <ng-template #signInButtons>
        <button
          mat-raised-button
          class="tertiary"
          routerLink="/signup"
          (click)="toggleNavbar()"
        >
          <mat-icon>person_add</mat-icon>
          Sign Up
        </button>
        <button
          mat-raised-button
          color="accent"
          routerLink="/login"
          (click)="toggleNavbar()"
        >
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>

      <!-- Theme button -->
      <button
        mat-raised-button
        class="theme-button"
        [ngClass]="
          currentTheme === 'light' ? 'light-theme-button' : 'dark-theme-button'
        "
        (click)="toggleTheme()"
      >
        <mat-icon
          >{{ currentTheme === "light" ? "light" : "dark" }}_mode</mat-icon
        >{{ currentTheme === "light" ? "Light" : "Dark" }} Mode
      </button>
    </div>
  </div>
</nav>

<div
  [class]="
    navbarVisible ? 'mobile navBackdrop' : 'hidden-fancy mobile navBackdrop'
  "
></div>

<button
  mat-mini-fab
  color="primary"
  [class]="
    navbarVisible ? 'mobile closeButton' : 'hidden-fancy mobile closeButton'
  "
  (click)="toggleNavbar()"
>
  <mat-icon>close</mat-icon>
</button>
