<div class="container" style="max-width: 500px; margin-inline: auto">
  <h1>Log In</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <mat-form-field color="primary">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="eg. coolguy17"
        formControlName="username"
        required
      />
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidepassword ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidepassword = !hidepassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidepassword"
        type="button"
      >
        <mat-icon>{{
          hidepassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!form.valid"
    >
      Log In
    </button>
  </form>

  <p>
    Don't have an account?
    <a class="link-underline" routerLink="/signup">Sign Up</a>
  </p>
</div>
