<div class="container">
  <h1>Add Recipe</h1>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm)">
    <!-- Recipe Name -->
    <mat-form-field color="primary">
      <mat-label>Recipe Name</mat-label>
      <input
        matInput
        placeholder="eg. Burnt Toast ala Dickson"
        formControlName="name"
        type="text"
        required
      />
    </mat-form-field>

    <div>
      <!-- Serving Size -->
      <mat-form-field color="primary" class="flex-item">
        <mat-label>Serving Size</mat-label>
        <input
          matInput
          placeholder="eg. 1"
          formControlName="servingSize"
          type="number"
          required
        />
      </mat-form-field>

      <!-- Cooking Time -->
      <mat-form-field color="primary" class="flex-item">
        <mat-label>Cooking Time</mat-label>
        <input
          matInput
          placeholder="eg. 1"
          formControlName="cookingTime"
          type="number"
        />
        <mat-suffix matSuffix>min</mat-suffix>
      </mat-form-field>
    </div>

    <!-- Recipe Description -->
    <mat-form-field color="primary">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="eg. This is a recipe for burnt toast."
        formControlName="description"
        type="text"
        required
      ></textarea>
    </mat-form-field>

    <!-- Recipe Image -->
    <mat-label>Attach Image</mat-label>
    <input
      mat-raised-button
      formControlName="image"
      type="file"
      accept="image/*"
    />

    <!-- Ingredients -->
    <h2>Ingredients</h2>
    <div
      formArrayName="ingredients"
      *ngFor="let ingredient of ingredients.controls; let i = index"
    >
      <mat-form-field color="primary">
        <mat-label>Ingredient #{{ i + 1 }}</mat-label>
        <input
          matInput
          required
          type="text"
          class="form-control"
          id="ingredient{{ i }}"
          [formControlName]="i"
          placeholder="Enter ingredient"
        />
      </mat-form-field>
      <button
        [disabled]="!shouldDisplayIngredientRemoveButton()"
        mat-raised-button
        color="warn"
        type="button"
        (click)="removeIngredient(i)"
      >
        Remove
      </button>
    </div>

    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="addIngredient()"
    >
      <mat-icon>add</mat-icon>Add Ingredient
    </button>

    <!-- instructions -->
    <h2>Steps</h2>
    <div
      formArrayName="instructions"
      *ngFor="let instruction of instructions.controls; let i = index"
    >
      <mat-form-field color="primary">
        <mat-label>Step #{{ i + 1 }}</mat-label>
        <input
          matInput
          required
          type="text"
          id="instruction{{ i }}"
          placeholder="Enter instruction"
          [formControlName]="i"
        />
      </mat-form-field>
      <button
        [disabled]="!shouldDisplayinstructionRemoveButton()"
        mat-raised-button
        color="warn"
        type="button"
        (click)="removeinstruction(i)"
      >
        Remove
      </button>
    </div>

    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="addinstruction()"
    >
      <mat-icon>add</mat-icon>Add Step
    </button>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!recipeForm.valid"
    >
      Submit
    </button>
  </form>
  <p>{{ recipeForm.value | json }}</p>
</div>
