.container {
  width: 100%;
}

#profile-name {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

#profile-username {
  text-align: left;
  font-weight: 400;
  margin-top: 0;
  opacity: 50%;
}
