<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/backend.css" type="text/css" />
    <title>Our Kitchen API</title>
  </head>
  <body>
    <h1>Our Kitchen API</h1>
    <p>This is the API for the Our Kitchen recipe management site.</p>
    <p>
      You are probably looking for the
      <a href="http://localhost:4200/">Our Kitchen</a> site.
    </p>

    <h2>Routes</h2>

    <ul class="horizontal-list">
      <li>
        <a href="/api/ingredients">ingredients</a>
      </li>
      <li>
        <a href="/api/recipes">recipes</a>
      </li>
      <li>
        <a href="/api/users">users</a>
      </li>
    </ul>
  </body>
</html>
