<div class="container">
  <h1>Sign Up</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="flex-div">
      <mat-form-field color="primary" style="width: 100%" class="flex-item">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="eg. Dave"
          formControlName="firstName"
          #firstnameInput
          required
        />
      </mat-form-field>
      <mat-form-field color="primary" style="width: 100%" class="flex-item">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="eg. Smith"
          formControlName="lastName"
          required
        />
      </mat-form-field>
    </div>
    <mat-form-field color="primary">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="eg. coolguy17"
        formControlName="username"
        required
      />
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidepassword ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidepassword = !hidepassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidepassword"
        type="button"
      >
        <mat-icon>{{
          hidepassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hideconfirmpassword ? 'password' : 'text'"
        formControlName="confirmpassword"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideconfirmpassword = !hideconfirmpassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideconfirmpassword"
        type="button"
      >
        <mat-icon>{{
          hideconfirmpassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <div
      *ngIf="form.get('password')?.hasError('minlength')"
      class="error-message"
    >
      Password must be at least 8 characters long.
    </div>

    <div *ngIf="form.hasError('passwordMismatch')">Passwords don't match.</div>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!form.valid"
    >
      Submit
    </button>
  </form>

  <p>Already have an account?</p>
  <button mat-flat-button color="accent" routerLink="/login">Login</button>
</div>
