<div class="flex-div" *ngIf="loading; else profile">
  <mat-spinner color="primary"></mat-spinner>
</div>

<ng-template #profile>
  <div
    *ngIf="user !== null; else userNotFound"
    class="profile"
    ngClass="{{ user.theme }}"
    [@fader]
  >
    <div class="container profile-info">
      <div class="profile-info">
        <!-- Profile Picture -->
        <img
          class="profileImage"
          [src]="
            '../../assets/media/images/profileimages/' + userProfilePic ||
            '../../assets/media/images/profileimages/egg_blue.jpg'
          "
          (error)="loadPlaceholderImage()"
        />

        <div>
          <!-- Name -->
          <h1 id="profile-name" class="text-and-icon">
            {{ user.firstName }} {{ user.lastName }}
            <span
              *ngIf="user.roles.includes('admin')"
              style="font-size: 1rem; gap: 0.25rem"
              class="badge text-and-icon"
            >
              <mat-icon>local_police</mat-icon>Admin</span
            >
          </h1>
          <p id="profile-username">
            {{ user.username }}
          </p>
        </div>
      </div>
      <button
        *ngIf="isOwnProfile"
        mat-raised-button
        color="accent"
        [routerLink]="['./edit']"
      >
        Edit Profile
      </button>
    </div>

    <div class="container">
      <h2 class="darktitleoverride tertiary">Following</h2>
      <div *ngIf="user.friends.length > 0; else noFollowing">
        <div *ngFor="let friend of user.friends">
          <div class="profile">
            <a [routerLink]="'/profile/' + friend.username">
              <img
                class="profileImage"
                [src]="
                  '../../assets/media/images/profileimages/' +
                    friend.profilePic ||
                  '../../assets/media/images/profileimages/egg_blue.jpg'
                "
              />
              <h3>{{ friend.firstName }} {{ friend.lastName }}</h3>
            </a>
          </div>
        </div>
      </div>

      <ng-template #noFollowing>
        <p *ngIf="!isOwnProfile">
          {{ user.firstName }} isn't following anyone.
        </p>
        <p *ngIf="isOwnProfile">You aren't following anyone.</p>
      </ng-template>
    </div>

    <div class="container">
      <h2 class="darktitleoverride tertiary">Favourite Recipes</h2>
      <div
        *ngIf="user.savedRecipes.length > 0; else noFavourites"
        class="recipegrid"
        [@listAnimation]="user.savedRecipes.length"
      >
        <div *ngFor="let recipe of user.savedRecipes">
          <app-recipepreview
            [id]="recipe"
            [recipe]="recipe"
            [saved]="isRecipeSavedByUser(recipe.recipeId)"
          ></app-recipepreview>
        </div>
      </div>
      <ng-template #noFavourites>
        <p *ngIf="!isOwnProfile">
          {{ user.firstName }} doesn't have any favourite recipes.
        </p>
        <p *ngIf="isOwnProfile">You don't have any favourite recipes.</p>
      </ng-template>
    </div>

    <div class="container">
      <h2 class="darktitleoverride tertiary">Recipes</h2>
      <div
        *ngIf="recipes.length > 0; else noRecipes"
        class="recipegrid"
        [@listAnimation]="recipes.length"
      >
        <div *ngFor="let recipe of recipes">
          <app-recipepreview
            [id]="recipe"
            [recipe]="recipe"
            [saved]="
              auth.getLoggedInStatus() &&
              auth.isRecipeSavedByUser(recipe.recipeId)
            "
          ></app-recipepreview>
        </div>
      </div>

      <ng-template #noRecipes>
        <p *ngIf="!isOwnProfile">
          {{ user.firstName }} hasn't written any recipes.
        </p>
        <p *ngIf="isOwnProfile">You haven't written any recipes.</p>
      </ng-template>
    </div>

    <div
      *ngIf="user.username === auth.getUsername() || auth.getAdminStatus()"
      class="container"
    >
      <div class="pending-recipes-header">
        <h2 class="darktitleoverride tertiary">Pending Recipes</h2>
        <span class="badge">Only visible to you</span>
      </div>

      <div
        *ngIf="pendingRecipes.length > 0; else noPendingRecipes"
        class="recipegrid"
        [@listAnimation]="pendingRecipes.length"
      >
        <div *ngFor="let recipe of pendingRecipes">
          <app-recipepreview
            [id]="recipe"
            [recipe]="recipe"
          ></app-recipepreview>
        </div>
      </div>

      <ng-template #noPendingRecipes>
        <p *ngIf="!isOwnProfile">
          {{ user.firstName }} has no pending recipes.
        </p>
        <p *ngIf="isOwnProfile">You have no pending recipes.</p>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #userNotFound>
  <app-pagenotfound></app-pagenotfound>
</ng-template>

<app-addrecipebutton></app-addrecipebutton>
