.container {
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.profileImage {
  width: 150px;
  height: 150px;
}

.pending-recipes-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#profile-name {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

#profile-username {
  text-align: left;
  font-weight: 400;
  margin-top: 0;
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .profile-info {
    flex-direction: column;
  }

  .profileImage {
    width: 100px;
    height: 100px;
  }

  .pending-recipes-header {
    flex-direction: column;
  }

  .pending-recipes-header h2 {
    margin-bottom: 0;
  }

  #profile-name {
    font-size: 1.25em;
  }
}
