/* Windows XP Theme */

body.windowsxp {
  background-image: url("../../assets/media/images/themes/windowsxp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
}

.windowsxp .darktitleoverride.tertiary {
  color: #000;
}

.windowsxp nav {
  background-color: #ece9d8;
  border: 3px solid #003bda;
  border-image: linear-gradient(to bottom, #003bda, #da00b2) 1;
  padding: 5px;
  height: 100%;
  overflow: auto;
  color: #000;
}

.windowsxp .container {
  position: relative;
}

.windowsxp .container::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  width: 100%;
  height: 1.5rem;
  top: 0;
  left: 0;
  margin-bottom: 1.5rem;
  border-radius: 0;
}

.windowsxp .container {
  background-color: #ece9d8;
  border: 3px solid #003bda;
  border-image: linear-gradient(to bottom, #003bda, #da00b2) 1;
  padding: 5px;
  padding-top: 1rem;
  height: 100%;
  overflow: auto;
  color: #000;
}

.windowsxp .profileImage {
  border-radius: 30%;
  border: 1px solid #000;
  padding: 5px;
  background-color: #fff;
  width: 150px;
  height: 150px;
}

.windowsxp app-recipepreview article {
  border: 1px solid #000;
  background-color: #fff;
}

[data-theme="dark"] .windowsxp app-recipepreview article {
  color: #000;
}

.windowsxp app-recipepreview:hover article {
  background-color: #ece9d8;
}

/* Glass Theme */

body.glass {
  background-image: url("../../assets/media/images/themes/glass.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.glass .container {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 73, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

[data-theme="dark"] .glass .container {
  background: rgba(23, 23, 23, 0.75);
}

@media screen and (max-width: 768px) {
  .windowsxp .recipegrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
