<div class="recipeform">
  <div class="container">
    <h1>Edit Profile</h1>
    <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit(updateUserForm)">
      <div class="flex-div">
        <!-- First Name -->
        <mat-form-field color="primary" style="width: 100%">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="eg. Joseph"
            formControlName="firstName"
            type="text"
            required
          />
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field color="primary" style="width: 100%">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="eg. Biden"
            formControlName="lastName"
            type="text"
            required
          />
        </mat-form-field>
      </div>

      <!-- Username -->
      <mat-form-field color="primary">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="eg. joebiden"
          formControlName="username"
          type="text"
          required
          [disabled]="canEditUsername"
        />
      </mat-form-field>

      <!-- Select Profile Pic -->
      <mat-label>Profile Picture</mat-label>
      <mat-radio-group formControlName="profilePic" color="primary">
        <mat-radio-button value="egg_blue.jpg">
          <img
            src="../../../../assets/media/images/profileimages/egg_blue.jpg"
          />
        </mat-radio-button>
        <mat-radio-button value="egg_green.png"
          ><img
            src="../../../../assets/media/images/profileimages/egg_green.png"
          />
        </mat-radio-button>
        <mat-radio-button value="egg_purple.png"
          ><img
            src="../../../../assets/media/images/profileimages/egg_purple.png"
          />
        </mat-radio-button>
        <mat-radio-button value="egg_red.png"
          ><img
            src="../../../../assets/media/images/profileimages/egg_red.png"
          />
        </mat-radio-button>
        <mat-radio-button value="egg_yellow.png"
          ><img
            src="../../../../assets/media/images/profileimages/egg_yellow.png"
          />
        </mat-radio-button>
        <mat-radio-button value="egg_orange.png"
          ><img
            src="../../../../assets/media/images/profileimages/egg_orange.png"
          />
        </mat-radio-button>
        <mat-radio-button value="egg_grey.png"
          ><img
            src="../../../../assets/media/images/profileimages/egg_grey.png"
          />
        </mat-radio-button>
        <mat-radio-button value="profile1.png"
          ><img
            src="../../../../assets/media/images/profileimages/profile1.png"
          />
        </mat-radio-button>
        <mat-radio-button value="profile2.png"
          ><img
            src="../../../../assets/media/images/profileimages/profile2.png"
          />
        </mat-radio-button>
        <mat-radio-button value="profile3.png"
          ><img
            src="../../../../assets/media/images/profileimages/profile3.png"
          />
        </mat-radio-button>
        <mat-radio-button value="profile4.png"
          ><img
            src="../../../../assets/media/images/profileimages/profile4.png"
          />
        </mat-radio-button>
      </mat-radio-group>

      <!-- Profile Theme -->
      <mat-form-field color="primary">
        <mat-label>Profile Theme</mat-label>
        <mat-select formControlName="theme">
          <mat-option value="default">Default</mat-option>
          <mat-option value="windowsxp">Windows XP</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Update Button -->
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!updateUserForm.valid"
      >
        Update
      </button>

      <br />
      <hr />
      <br />

      <!-- Delete User Button -->
      <button
        mat-raised-button
        color="warn"
        (click)="deleteUser()"
        type="button"
      >
        Delete User
      </button>
    </form>
    <p>{{ updateUserForm.value | json }}</p>
  </div>
</div>
