*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --primary: #ff4886;
  --secondary: #607d4a;
  --accent: #ff97ba;
  --tertiary: #976130;

  --background: linear-gradient(150deg, #fededc 0%, #ededed 50%);

  --navbg: linear-gradient(65deg, #d9e8c376 0%, #ffffff 60%);
  --innernavbg: linear-gradient(135deg, #496337, #6f834b);
  --innernavshadow: -5px 5px 15px rgba(54, 79, 34, 0.3);
  --activenavbg: linear-gradient(135deg, #91a76a, #6f834b);
  --navbghover: #91a76a3b;

  --font: Poppins, "Helvetica Neue", sans-serif;

  --container: #fff;
  --text: #222;
  --shadow: -5px 5px 15px rgba(203, 176, 176, 0.3);
  --navshadow: 5px 5px 15px rgba(255, 168, 168, 0.3);

  --button: #111111;
  --buttontext: #fff;
}

[data-theme="dark"] {
  --shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  --navshadow: var(--shadow);

  --innernavbg: linear-gradient(135deg, #222, #202020);
  --innernavshadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  --activenavbg: linear-gradient(135deg, #80945d, #505f36);
  --navbg: #2d2d2d;
  --navbghover: #2121213b;

  --background: #1e1e1e;
  --text: #fff;
  --container: #2d2d2d;
  --button: transparent;
  --buttontext: #fff;
}

[data-theme="dark"] .button {
  border: var(--buttontext) 2px solid;
}

[data-theme="dark"] .bg-primary,
[data-theme="dark"] .bg-secondary,
[data-theme="dark"] .bg-tertiary,
[data-theme="dark"] .bg-accent {
  border: none;
}

html,
body {
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text);
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font);
}

.angular {
  height: 100vh;
}

main {
  margin: 0 auto;
  margin-left: 23rem;
  margin-right: 5rem;
  padding: 2rem 0;
  max-width: 75vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

app-mobileheader {
  display: none;
}

.container {
  background-color: var(--container);
  padding: 1rem 3rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
}

img {
  border-radius: 0.3rem;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

form div {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: var(--font);
  font-size: 1em;
  cursor: pointer;
}

.button {
  color: var(--buttontext);
  background-color: var(--button);
  text-decoration: none;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 7.5px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: #fbfbfb;
  color: #111;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.accent {
  color: var(--accent);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-accent {
  background-color: var(--accent);
}

mat-hint {
  font-size: 12px; /* You can adjust the size as needed */
}

/* Title at the top */
.title {
  font-family: "Caprasimo", "Big Snow";
  font-size: 2em;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

[data-theme="dark"] .darktitleoverride {
  color: #fff;
}

.profile h3 {
  margin: 0;
}

.profileImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.link {
  color: var(--text);
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 4px;
  text-underline-offset: 2.5px;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 90vw;
    margin: 0 auto;
  }

  .angular {
    height: 100%;
  }

  app-mobileheader {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    padding-inline: 1rem;
    justify-content: left;
    text-align: center;
    gap: 2rem;
    width: 100%;
    z-index: 80;
    background: var(--container);
    box-shadow: var(--navshadow);
  }
}
