<div class="left">
  <h1 class="title">
    <span class="secondary">Our </span>
    <span class="primary">Kitchen</span>
  </h1>
</div>

<div>
  <a
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="./recipes" routerLinkActive="active">Recipes</a>

  <a routerLink="./logs" routerLinkActive="active">Audit Log</a>
</div>

<div class="right">
  <!-- If the user is logged in, display the log out button -->
  <div *ngIf="auth.loggedInStatus$ | async; else signInButtons">
    <a
      routerLink="./profile/{{ userService.getUsername() }}"
      routerLinkActive="active"
      >{{ userService.getUsername() }}</a
    >
    <button mat-raised-button color="accent" (click)="logout()">Log Out</button>
  </div>
  <ng-template #signInButtons>
    <a routerLink="/signup"> Sign Up </a>
    <button mat-raised-button color="accent" routerLink="/login">Login</button>
  </ng-template>
  <button id="themebutton" (click)="toggleTheme()">
    <mat-icon>{{ currentTheme === "light" ? "light" : "dark" }}_mode</mat-icon>
  </button>
</div>
