.title {
  font-family: "Big Snow";
  font-size: 2.25em;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--container);
  box-shadow: var(--shadow);
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

a {
  color: var(--text);
  text-decoration: none;
  margin: 10px 5px;
  padding: 10px;
  text-decoration-color: var(--container);
}

a:hover,
.active {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 4px;
  text-underline-offset: 2.5px;
  text-decoration-skip-ink: none;
}

[data-theme="light"] a {
  color: var(--text);
}

#themebutton {
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  margin: 10px;
  padding: 10px;
  border-radius: 7.5px;
  transition: all 0.25s ease-in-out;
  box-shadow: var(--shadow);
}

#themebutton mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

[data-theme="light"] #themebutton {
  background-color: #a4f3f4;
  color: #f4de54;
}

[data-theme="dark"] #themebutton {
  background: #193450;
}
