/* Title at the top */
.title {
  font-family: "Caprasimo", "Big Snow";
  font-size: 2em;
  line-height: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 1.5rem 0.5rem 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

/* Inner green container that has the route links */
.nav-inner {
  background: var(--innernavbg);
  margin: 1rem;
  height: 90%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: var(--innernavshadow);
  display: grid;
  grid-template-rows: 1fr auto;
}

[data-theme="dark"] .nav-inner {
  background: var(--container);
}

/* The route links */
.nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  box-shadow: none;
}

.nav-items button {
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--buttontext);
  box-shadow: none;
}

.nav-items .active,
.profile.active {
  background: var(--activenavbg);
  border-radius: 0.5rem;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-items button:hover:not(.active) {
  transition: all 0.15s ease-in-out;
  border-radius: 0.5rem;
  background-color: var(--navbghover);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
}

/* The profile/login area at the bottom */
.user-info {
  background: var(--container);
  color: var(--text);
  border-radius: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-info div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.15rem 0.5rem;
  font-size: 1.1em;
  background-color: transparent;
}

.profile:hover:not(.active) {
  transition: all 0.15s ease-in-out;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  color: white;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
}

.profile:hover:not(.active) p {
  color: white;
}

.profile.active p {
  color: white;
}

.avatar {
  width: 100%;
  max-width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-inline-end: 0.5rem;
  border-radius: 10rem;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Bottom Buttons to go dark mode and settings */

[data-theme="light"] a {
  color: var(--text);
}

#themebutton {
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 7.5px;
  transition: all 0.25s ease-in-out;
  box-shadow: var(--shadow);
}

#themebutton mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

[data-theme="light"] #themebutton {
  background-color: #a4f3f4;
  color: #f4de54;
}

[data-theme="dark"] #themebutton {
  background: #193450;
}

@media screen and (max-width: 768px) {
}
